<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./login.css">
    <link rel="shortcut icon" href="./resources/Logo.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e4a36e3b16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Registration</title>
</head>

<body>
    <% if(user=="home" ) { %>
        <%- include('partials/navbar',{active: "registration" }); -%>
            <% } %>
                <% if(user=="learner" ) { %>
                    <%- include('partials/admin-navbar'); -%>
                        <% } %>
                            <% if(user=="instructor" ) { %>
                                <%- include('partials/admin-navbar'); -%>
                                    <% } %>
                                        <% if(user=="company" ) { %>
                                            <%- include('partials/admin-navbar'); -%>
                                                <% } %>
                                                    <section class="h-100 gradient-form"
                                                        style="background-color: #eee;">
                                                        <div class="container py-5 h-100">
                                                            <div
                                                                class="row d-flex justify-content-center align-items-center h-100">
                                                                <div class="col-xl-10">
                                                                    <div class="card rounded-3 text-black">
                                                                        <div class="row g-0">
                                                                            <div class="col-lg-6">
                                                                                <div class="card-body p-md-5 mx-md-4">

                                                                                    <div class="text-center">
                                                                                        <img src="./resources/Logo.svg"
                                                                                            style="width: 150px;"
                                                                                            alt="logo">
                                                                                        <h4 class="m-3 pb-1">We are
                                                                                            Skillery</h4>
                                                                                    </div>

                                                                                    <% if(user=="home" ||
                                                                                        user=="learner" ){ %>
                                                                                        <form id="reg-form">
                                                                                            <p>Please fill the given
                                                                                                form</p>

                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="email"
                                                                                                    id="email"
                                                                                                    name="email"
                                                                                                    class="form-control"
                                                                                                    placeholder="Email"
                                                                                                    required />
                                                                                            </div>

                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="text"
                                                                                                    id="username"
                                                                                                    name="username"
                                                                                                    class="form-control"
                                                                                                    placeholder="Username"
                                                                                                    required />
                                                                                            </div>

                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="password"
                                                                                                    id="password"
                                                                                                    name="password"
                                                                                                    class="form-control"
                                                                                                    placeholder="Password"
                                                                                                    required />
                                                                                            </div>

                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="text"
                                                                                                    id="fullname"
                                                                                                    name="fullname"
                                                                                                    class="form-control"
                                                                                                    placeholder="Full Name"
                                                                                                    required />
                                                                                            </div>

                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="text"
                                                                                                    id="college"
                                                                                                    name="college"
                                                                                                    class="form-control"
                                                                                                    placeholder="College"
                                                                                                    required />
                                                                                            </div>

                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="text"
                                                                                                    id="degree"
                                                                                                    name="degree"
                                                                                                    class="form-control"
                                                                                                    placeholder="Degree"
                                                                                                    required />
                                                                                            </div>

                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="year"
                                                                                                    id="year"
                                                                                                    name="year"
                                                                                                    class="form-control"
                                                                                                    placeholder="Passing Year"
                                                                                                    required />
                                                                                            </div>


                                                                                            <div
                                                                                                class="text-center pt-1 mb-2 pb-1">
                                                                                                <button
                                                                                                    class="btn btn-primary btn-block login fa-lg gradient-custom-2 mb-3"
                                                                                                    type="submit">Submit</button>
                                                                                            </div>
                                                                                        </form>
                                                                                        <% } %>

                                                                                            <% if(user=="instructor" ){
                                                                                                %>
                                                                                                <form id="reg-form">
                                                                                                    <p>Please fill the
                                                                                                        given form</p>

                                                                                                    <div
                                                                                                        class="form-outline mb-4">
                                                                                                        <input
                                                                                                            type="email"
                                                                                                            id="email"
                                                                                                            name="email"
                                                                                                            class="form-control"
                                                                                                            placeholder="Email"
                                                                                                            required />
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-outline mb-4">
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            id="username"
                                                                                                            name="username"
                                                                                                            class="form-control"
                                                                                                            placeholder="Username"
                                                                                                            required />
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-outline mb-4">
                                                                                                        <input
                                                                                                            type="password"
                                                                                                            id="password"
                                                                                                            name="password"
                                                                                                            class="form-control"
                                                                                                            placeholder="Password"
                                                                                                            required />
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-outline mb-4">
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            id="fullname"
                                                                                                            name="fullname"
                                                                                                            class="form-control"
                                                                                                            placeholder="Full Name"
                                                                                                            required />
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-outline mb-4">
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            id="qualifications"
                                                                                                            name="qualifications"
                                                                                                            class="form-control"
                                                                                                            placeholder="Qualifications"
                                                                                                            required />
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="form-outline mb-4">
                                                                                                        <input
                                                                                                            type="text"
                                                                                                            id="experience"
                                                                                                            name="experience"
                                                                                                            class="form-control"
                                                                                                            placeholder="Experience"
                                                                                                            required />
                                                                                                    </div>


                                                                                                    <div
                                                                                                        class="text-center pt-1 mb-2 pb-1">
                                                                                                        <button
                                                                                                            class="btn btn-primary btn-block login fa-lg gradient-custom-2 mb-3"
                                                                                                            type="submit">Submit</button>
                                                                                                    </div>
                                                                                                </form>
                                                                                                <% } %>
                                                                                                    <% if(user=="company"
                                                                                                        ){ %>
                                                                                                        <form
                                                                                                            id="reg-form">
                                                                                                            <p>Please
                                                                                                                fill the
                                                                                                                given
                                                                                                                form</p>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="email"
                                                                                                                    id="email"
                                                                                                                    name="email"
                                                                                                                    class="form-control"
                                                                                                                    placeholder="Email"
                                                                                                                    required />
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    id="username"
                                                                                                                    name="username"
                                                                                                                    class="form-control"
                                                                                                                    placeholder="Username"
                                                                                                                    required />
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="password"
                                                                                                                    id="password"
                                                                                                                    name="password"
                                                                                                                    class="form-control"
                                                                                                                    placeholder="Password"
                                                                                                                    required />
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    id="companyname"
                                                                                                                    name="companyname"
                                                                                                                    class="form-control"
                                                                                                                    placeholder="Company Name"
                                                                                                                    required />
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="text-center pt-1 mb-2 pb-1">
                                                                                                                <button
                                                                                                                    class="btn btn-primary btn-block login fa-lg gradient-custom-2 mb-3"
                                                                                                                    type="submit">Submit</button>
                                                                                                            </div>
                                                                                                        </form>
                                                                                                        <% } %>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                                                                <div
                                                                                    class="text-white px-3 py-4 p-md-5 mx-md-4">
                                                                                    <h4 class="mb-4">We are more than
                                                                                        just a company</h4>
                                                                                    <p class="small mb-0">Skillery was a
                                                                                        dream which is envisioned to
                                                                                        make
                                                                                        programming education
                                                                                        easy and accessible for Indian
                                                                                        students. We designed a program
                                                                                        which is
                                                                                        market oriented,
                                                                                        fun to learn and focus on
                                                                                        setting a strong base for a
                                                                                        programming career.
                                                                                        Our students
                                                                                        are an asset for any team from
                                                                                        day one, and trained to be great
                                                                                        coders.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <%- include('partials/footer'); -%>
                                                        <% if(user=="home" ) { %>
                                                            <script src="./javascripts/registration.js"></script>
                                                            <% } %>
                                                                <% if(user=="learner" ) { %>
                                                                    <script
                                                                        src="./javascripts/admin-learnerreg.js"></script>
                                                                    <% } %>
                                                                        <% if(user=="instructor" ) { %>
                                                                            <script
                                                                                src="./javascripts/admin-instructorreg.js"></script>
                                                                            <% } %>
                                                                                <% if(user=="company" ) { %>
                                                                                    <script
                                                                                        src="./javascripts/admin-companyreg.js"></script>
                                                                                    <% } %>

                                                                                        <script
                                                                                            src="../Bootstrap/js/bootstrap.js"></script>
</body>

</html>