<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Content</title>
  <link rel="stylesheet" href="./learner-module.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />
  <link rel="shortcut icon" href="./resources/Logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="./Bootstrap/css/bootstrap.css">
</head>

<body>

  <% if(user=="instructor" ) { %>
    <%- include("partials/instructor-navbar.ejs") -%>
      <% } %>
        <% if(user=="learner" ) { %>
          <%- include("partials/learner-navbar.ejs") -%>
            <% } %>

<div class="structure">

              <div class="heading">
                <div class="course">
                  <% if(topic=="dsa" ){ %>
                    <h1 class="haha">Data Structures and Algorithms</h1>
                    <% } %>
                      <% if(topic=="webdev" ){ %>
                        <h1 class="haha">Web Development</h1>
                        <% } %>
                         
                </div>
              </div>

              <% let k=1; %>
                <% records.forEach(function(row){ %>
                    <% if(topic == 'dsa' && row.flag == 0){ %>
                      <button class="accordion">
                        <div class="day">Day <%= k %>
                        </div>
                        <div class="col-3 overflow-auto">
                          <%= row.topicName %>
                        </div>
                      </button>
                      <% k++; %>
                        <div class="panel">
                          <div class="row">
                            <div class="col-4 order-xs-4 text-left">
                              <a class="col-5 overflow-auto" href="<%= row.lectureLink %>">
                                Lecture Link <i class="fa-solid fa-link"></i>
                              </a>
                            </div><a class="col-2 overflow-auto" href="<%= row.homeworkLink %>">
                              Homework Link <i class="fa-solid fa-link"></i>
                            </a>
                            <div class="col-4 order-xs-4 text-end">
                              <% if(user=="instructor" ) { %>
                                <a href="instructor-homeworklist"><button class="meet">Check HomeWork <i
                                      class="fa-solid fa-clipboard-check"></i></button></a>
                                <% } %>
                            </div>
                          </div>
                        </div>
                    <% } %>
                    <% if(topic == 'webdev' && row.flag == 1){ %>
                      <button class="accordion">
                        <div class="day">Day <%= k %>
                        </div>
                        <div class="col-3 overflow-auto">
                          <%= row.topicName %>
                        </div>
                      </button>
                      <% k++; %>
                        <div class="panel">
                          <div class="row">
                            <div class="col-4 order-xs-4 text-left">
                              <a class="col-5 overflow-auto" href="<%= row.lectureLink %>">
                                Lecture Link <i class="fa-solid fa-link"></i>
                              </a>
                            </div><a class="col-2 overflow-auto" href="<%= row.homeworkLink %>">
                              Homework Link <i class="fa-solid fa-link"></i>
                            </a>
                            <div class="col-4 order-xs-4 text-end">
                              <% if(user=="instructor" ) { %>
                                <a href="instructor-homeworklist"><button class="meet">Check HomeWork <i
                                      class="fa-solid fa-clipboard-check"></i></button></a>
                                <% } %>
                            </div>
                          </div>
                        </div>
                    <% } %>
                    <% })%>
                    
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button id="addday" 
                      <% if (user=="learner"){ %>
                        style="display:none"
                        <% } %>>
                          Add Day   </button>
                      </div>

                      <div class="loginPopup">
                        <div class="formPopup" id="popupForm">
                          <form action="" name="addDay" class="formContainer" onsubmit = "validate();">
                            <% if(topic=="dsa"){ %>
                              <label for="link">Course</label><br>
                              <input type="text" id="course" name="course" value="Data structures and Algorithms" readonly>
                            <% } %>
                            <% if(topic=="webdev"){ %>
                              <label for="link">Course</label><br>
                              <input type="text" id="course" name="course" value="Web development" readonly>
                            <% } %>


                            <label for="link">Topic</label><br>
                            <input type="text" id="topic" placeholder="Topic Name" name="topic" required>
                            <label for="link">Add Lecture Link</label><br>
                            <input type="text" id="link" placeholder="Add Lecture Link" name="link" required>
                            <label for="link">Add Homework</label><br>
                            <input type="text" id="homework" placeholder="Add Homework" name="homework" required>
                            <button type="submit" class="btn cancel" id="submit">Submit</button>
                            <button type="close" class="btn cancel" onclick="closeForm();">Close</button>
                          </form>
                        </div>
                      </div>
                    </div>
                        
                        <%- include("partials/footer.ejs") -%>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                          integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
                          crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
                          integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
                          crossorigin="anonymous"></script>
                        <script>
                          $('.owl-carousel').owlCarousel({
                            loop: true,
                            nav: true,
                            margin: 10,
                            navSlide: true,
                            dots: false,
                            stagePadding: 0,
                            responsive: {
                              0: {
                                items: 1
                              },
                              500: {
                                items: 3
                              },
                              800: {
                                items: 5
                              },
                              1000: {
                                items: 7
                              }
                            }
                          })</script>
                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                          crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                          crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                          crossorigin="anonymous"></script>
                        <script src="https://kit.fontawesome.com/e4a36e3b16.js" crossorigin="anonymous"></script>
                        <script src="./Bootstrap/js/bootstrap.js"></script>
                        <script src="./javascripts/module.js"></script>
</body>

</html>